from PIL import Image, ImageDraw
from __future__ import print_function
from botocore.exceptions import ClientError
from pathlib import Path
import pdf2image
import argparse
import boto3
import io
import json
import os
import os.path
import pandas as pd
import sys
import tempfile
import time
